<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Country Search</title>
</head>
<body>
    <h1>Country Search</h1>

    <!--use tables to align everything-->

    <div>
        Name: <input type="text">
        <br>
        Cost: <input type="range">
        <br>
        Languages:
        <br>English <input type="checkbox">
        <br>French <input type="checkbox">
        <br>Spanish <input type="checkbox">
        <br>Catalan <input type="checkbox">
        <br>German <input type="checkbox">
        <br>Italian <input type="checkbox">
        <br>Portuguese <input type="checkbox">
        <br>Flemish <input type="checkbox">
        <br>Dutch <input type="checkbox">
        <br>Greek <input type="checkbox">
        <br>Valencian <input type="checkbox">
        <br>Galician <input type="checkbox">
        <br>Basque (Euskara) <input type="checkbox">
        <br>Gaelic <input type="checkbox">
        <br>
        <!--type="button" class="btn btn-default"-->
        <button type="button" class="btn btn-default">Go Back</button>
        <button type="button" class="btn btn-default">Search</button>
    </div>

</body>
</html>