<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>GT Travel Home</title>
    <script src="../Scripts/homepage.js"></script>
</head>
<body>
<h1 align="center">Select Operation</h1>
<p align="center">
    <a href="Search.html">Country Search</a><br>
    <a href="Search.html">City Search</a><br>
    <a href="Search.html">Location Search</a><br>
    <a href="Search.html">Event Search</a><br>
    <a href="Search.html">Write a Review</a><br>
    <a href="Search.html">See Past Reviews</a><br>
    <button type="button" class="btn btn-default" onClick="logout()">Sign out</button>
</p>

</body>
</html>