<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write a Review</title>
    <script src="../Scripts/reviews.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div align="center">
    <div style="width: 80%" align="left">

        <h1>Write a Review</h1>
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject">

            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date">

            <label for="score">Score:</label>
            <input type="number" class="form-control" id="score" min="0" max="10">

            <label for="description">Description</label>
            <input type="text" class="form-control" id="description">

            <br>

            <button type="button" class="btn btn-default" onclick="toHome()" style="align-self: left">Go Back</button>
            <button type="button" class="btn btn-default" onclick="makeReview()" style="align-self: right">Submit</button>
        </div>
        <p id="feedback"></p>

    </div>
</div>

</body>
</html>