<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>City Results</title>
</head>
<body>
<div class="container">
      <h2>Cities</h2>
      <table class="table table-hover">
        <thead>
          <tr>
              <td>Name</td>
              <td>Country</td>
              <td>Latitude</td>
              <td>Longitude</td>
              <td>Population</td>
              <td>Is capital?</td>
              <td>Languages</td>
              <td>Score</td>
          </tr>
        </thead>
        <tbody>
        {% for o in cities %}
          <tr>
                <td><a href="{{ url_for('to_city_page', city=o['city']) }}">{{ o["city"] }}</a></td>
                <td>{{ o["country"] }}</td>
                <td>{{ o["latitude"] }}</td>
                <td>{{ o["longitude"] }}</td>
                <td>{{ o["population"] }}</td>
                <td>{{ o["iscapital"] }}</td>
                <td>{{ o["languages"] }}</td>
                <td>{{ o["score"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <a class=" btn btn-default" href="to_city_search" role="button">Go Back</a>
    </div>

</body>
</html>