<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Country Results</title>
</head>
<body>
    <div class="container">
      <h2>Countries</h2>
      <table class="table table-hover">
        <thead>
          <tr>
              <td>Name</td>
              <td>Population</td>
              <td>Capital(s)</td>
              <td>Language(s)</td>
          </tr>
        </thead>
        <tbody>
        {% for o in countries %}
          <tr>

                <td><a href="{{ url_for('to_country_page', country=o['name']) }}">{{ o["name"] }}</a></td>
                <td>{{ o["population"] }}</td>
                <td>{{ o["capitals"] }}</td>
                <td>{{ o["languages"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        <a class=" btn btn-default" href="to_country_search" role="button">Go Back</a>
    </div>


</body>
</html>