{% extends "countrysearch.html" %}
{% block content %}
<!--use tables to align everything-->
    <div class="container-fluid">

        <div class="form-group">
            <label for="country">Country:</label>
            <select class="form-control" id="country">
                {% for o in option_list %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <b>Population:</b>
            <br>
            Min: <input type="number" min='0' step='100'>
            <br><br>
            Max: <input type="number" min='0' step='100'>
            <br>
        </div>

        <div>
            Languages:
            <div id="languages">
            {% for o in option_list2 %}

                    <input type="checkbox" value="{{ o }}">  {{ o }} <br>
            {% endfor %}
            </div>

        </div>

        <a class=" btn btn-default" href="to_home" role="button">Go Back</a>
        <a class=" btn btn-default" href="to_country_results" role="button">Search</a>
    </div>



{% endblock %}