{% extends "countrysearch.html" %}
{% block content %}
<!--use tables to align everything-->
    <form class="form-group" action="to_country_results" method="post">

        <label for="country">Country:</label>
        <select name="country" class="form-control" id="country">
            {% for o in option_list %}
                <option name = "{{ o }}" value="{{ o }}" SELECTED>{{ o }}</option>
            {% endfor %}
        </select>
        <br>
        <b>Population:</b>
        <br>
        Min: <input name="minPop" type="number" min='0' step='1'>
        <br><br>
        Max: <input name="maxPop" type="number" min='0' step='1'>
        <br>
        <br>

        <b>Languages:</b>
        <div id="languages">
        {% for o in option_list2 %}
                <input name="languages" type="checkbox"  value="{{ o }}">  {{ o }} <br>
        {% endfor %}
        </div>
        <br>
        <b>Sort by:</b>
        <label class="radio-inline"><input value="country" type="radio" name="sort">Country Name</label>
        <label class="radio-inline"><input value="population" type="radio" name="sort">Population</label>
        <br>

        <button id = "searchCountry" class=" btn btn-default"  type="submit">Search</button>
        <a class=" btn btn-default" href="to_home" role="button">Go Back</a>
        <p style="color: red"  id="feedback">{{error}}</p>

    </form>



{% endblock %}