<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div align="center">
    <div style="width: 80%" align="left">

        <h1>Edit a Review</h1>
        <form class="form-group" style="width:20%" action="/update_review" method="post" enctype="multipart/form-data">
            <label for="subject">Subject:</label>
            <select name="subject" class="form-control" id="subject" required>
                {% for o in subject %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>

            <label for="date">Date:</label>
            <input name="date" type="date" class="form-control" id="date" value='{{date}}' required>

            <label for="score">Score:</label>
            <input name="score" type="number" class="form-control" id="score" min="0" max="5" value='{{score}}' required>

            <label for="description">Description</label>
            <textarea name="description"  class="form-control" id="description"
                      style="height: 150px; width: 300px" maxlength="5000" required>{{description}} </textarea>

            <br>

            <!-- <button type="button" class="btn btn-default" onclick="toHome()">Go Back</button>
            <button type="button" class="btn btn-default" onclick="makeReview()" style="align-self: right">Submit</button>
            -->
            <button id = "writeReview" class="btn btn-primary"  type="submit">Update Review</button>
            <a class=" btn btn-default" href="/to_past_reviews" role="button">Go Back</a>
        </form>
        <p id="feedback" style="color:red">{{error}}</p>

    </div>
</div>

</body>
</html>