<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Event Search</title>
    <script src="../Scripts/search.js"></script>
</head>
<body onLoad ="populateEventCategories(); populateCityNames()">
<div style="padding: 3% 5% 5% 5%; width: 80%">
    <h1> Event Search</h1>
    <!--use tables to align everything-->
    <form class="form-group" action="to_event_results" method="post">
        <div class="form-group">
            <label for="event">Name:</label>
            <select class="form-control" name="event" id="event">
                {% for o in events %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>

            <label for="city">City:</label>
            <select name = "city" class="form-control" id="city">
                {% for o in cities %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>
            <br>

            <label>Date: <input name="date" type="date"></label>
            <br>
            <b>Cost:</b>
            <br>
            Min: $<input name="minCost" type="number" min='0' step='.01'>
            <br><br>
            Max: $<input name="maxCost" type="number" min='0' step='.01'>
            <br>
            <br>
            <b>Student Discount?</b>
            <label class="radio-inline"><input value="Yes" type="radio" name="discount">Yes</label>
            <label class="radio-inline"><input value="No" type="radio" name="discount">No</label>
            <label class="radio-inline"><input value="3" type="radio" name="discount">Discount or Free</label>

            <br>
            <b>Categories:</b>
            <div id="categoriesE">
                {% for o in event_cat %}
                    <input name="categoriesE" type="checkbox" value="{{ o }}">  {{ o }} <br>
                {% endfor %}
            </div>
            <br>
            <b>Sort by</b>
            <label class="radio-inline"><input value="event" type="radio" name="sort">Event Name</label>
            <!--
            <label class="radio-inline"><input value="city" type="radio" name="sort">City Name</label>
            <label class="radio-inline"><input value="date" type="radio" name="sort">Date</label>
            -->
            <label class="radio-inline"><input value="cost" type="radio" name="sort">Cost</label>
            <label class="radio-inline"><input value="highest" type="radio" name="sort">Highest Rating</label>
            <label class="radio-inline"><input value="lowest" type="radio" name="sort">Lowest Rating</label>
        </div>

        <button id = "searchEvents" class="btn btn-primary"  type="submit">Search</button>
        <a class=" btn btn-default" href="to_home" role="button">Go Back</a>
        <p style="color:red"> {{error}}</p>
    </form>


</div>
</body>
</html>
