<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Event Results</title>
</head>
<body>
<div class="container">
      <h2>Events</h2>
      <table class="table table-hover">
        <thead>
          <tr>
              <td>Name</td>
              <td>Date</td>
              <td>Start Time</td>
              <td>End Time</td>
              <td>Address</td>
              <td>City</td>
              <td>Country</td>
              <td>Category</td>
              <td>Cost</td>
              <td>Student Discount</td>
              <td>Description</td>
              <td>Score</td>
              <!--<td>Review</td>-->
          </tr>
        </thead>
        <tbody>
        {% for o in events %}
          <tr>
                <td><a href="{{ url_for('to_event_page', event=o['name'] +
                 ',' + o['address'] ',' + o['city']) + ',' + o['country']) +
                  ',' + o['date'] + ',' + o['starttime']}}">{{ o["name"] }}</a></td>
                <td>{{ o["date"] }}</td>
                <td>{{ o["starttime"] }}</td>
                <td>{{ o["endtime"] }}</td>
                <td>{{ o["address"] }}</td>
                <td>{{ o["city"] }}</td>
                <td>{{ o["country"] }}</td>
                <td>{{ o["category"] }}</td>
                <td>{{ o["cost"] }}</td>
                <td>{{ o["std_discount"] }}</td>
                <td>{{ o["description"] }}</td>
                <td>{{ o["score"] }}</td>
                <!--<td>Button</td>-->

          </tr>
        {% endfor %}
        </tbody>
      </table>
    <a class=" btn btn-default" href="to_event_search" role="button">Go Back</a>
</div>

</body>
</html>