<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Location Search</title>
    <script src="../Scripts/search.js"></script>
</head>
<body onLoad ="populateLocationTypes(); populateCityNames()">
<div style="padding: 3% 5% 5% 5%; width: 80%">
    <h1> Location Search</h1>
    <!--use tables to align everything-->
    <form class="form-group" action="to_location_results" method="post">
        <div class="form-group">
            <label for="location">Name:</label>
            <select name="location" class="form-control" id="location">
                {% for o in locations %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>
        <br>
            <label for="city">City:</label>
            <select name="city" class="form-control" id="city">
                {% for o in cities %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="city">Address:</label>
            <select name="address" class="form-control" id="address">
                {% for o in address %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>

            <br>

            <b>Cost:</b>
            <br>
            Min: $<input name="minCost" type="number" min='0' step='.01'>
            <br><br>
            Max: $<input name="maxCost" type="number" min='0' step='.01'>
            <br>

            <br>

            <b>Type:</b>
            <div id="categoriesL">
                {% for o in loc_cat %}
                    <input name="categoriesL" type="checkbox" value="{{ o }}">  {{ o }} <br>
                {% endfor %}
            </div>

        </div>
        <button id = "searchLocs" class=" btn btn-default"  type="submit">Search</button>
        <a class=" btn btn-default" href="to_home" role="button">Go Back</a>
    </form>


</div>
</body>
</html>
