<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Past Reviews</title>
    <script src="../Scripts/reviews.js"></script>
</head>
<body>
<div align="center">
    <div style="width: 80%" align="left">

        <h1>Past Reviews</h1>
        <table>
            <!--Make Table-->
        </table>
        <button type="button" class="btn btn-default" onclick="toHome()" style="align-self: left">Go Back</button>
    </div>
</div>

</body>
</html>
