<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Register</title>
    <script src="../Scripts/register.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1> Register </h1>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" style="width:20%">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" style="width:20%">
    </div>
    <div class="form-group">
        <label for="p1">Password:</label>
        <input type="password" class="form-control" id="p1" style="width:20%">
    </div>
    <div class="form-group">
        <label for="p2">Confirm Password:</label>
        <input type="password" class="form-control" id="p2" style="width:20%">
    </div>
    <!--
    <button type="button" class="btn btn-default" onClick="toLogin()">Cancel</button>
    <button type="button" class="btn btn-default" onClick="register()">Register</button>
    -->
    <a class=" btn btn-default" href="to_login" role="button">Cancel</a>
    <a class=" btn btn-default" href="register" role="button">Register</a>

    <p id = "feedback"  style="color: red"></p>

</div>
</body>
