<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write a Review</title>
    <script src="../Scripts/reviews.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div align="center">
    <div style="width: 80%" align="left">

        <h1>Write a Review</h1>
        <form class="form-group" style="width:20%" action="make_review" method="post" enctype="multipart/form-data">
            <label for="subject">Subject:</label>
            <select name="subject" class="form-control" id="subject" required>
                {% for o in subject %}
                    <option value="{{ o }}" SELECTED>{{ o }}</option>
                {% endfor %}
            </select>

            <label for="date">Date:</label>
            <input name="date" type="date" class="form-control" id="date" required>

            <label for="score">Score:</label>
            <input name="score" type="number" class="form-control" id="score" min="0" max="5" required>

            <label for="description">Description</label>
            <input name="description" type="text" class="form-control" id="description" maxlength="5000" required>

            <br>

            <!-- <button type="button" class="btn btn-default" onclick="toHome()">Go Back</button>
            <button type="button" class="btn btn-default" onclick="makeReview()" style="align-self: right">Submit</button>
            -->
            <button id = "writeReview" class="btn btn-primary"  type="submit">Submit</button>
            <a class=" btn btn-default" href="/to_home" role="button">Go Back</a>
        </form>
        <p id="feedback" style="color:red">{{error}}</p>

    </div>
</div>

</body>
</html>
